.app-article-card {
width:250px;
height:300px;
margin: 5px;
}

img{
    max-height:250px;
}

md-card-header{
    flex:2;
}

md-card-content{
    display: flex;
    flex: 8;
    flex-direction: column;
    justify-content: center;
}